.divisoes{
    width: 100%;
    height: 50%;
    font: 50px arial bold;
  
}

html, body{
    height: 100%;

        width: 100%;
    }

#div1{
    background-color: blue;

}

#div2{
    background-color:red;
}